.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.postsArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 88vh;
    gap: 1rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    overflow-y: auto;
}

.right {
    flex: .4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
}