.wrapper {
    min-width: 18rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    min-height: 88vh;
} 

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

.item {
    display: flex;
    font-weight: 600;
    gap: 1rem;
    padding: 1rem 1.5rem;
    align-items: center;
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10px;
}

.item:hover {
    cursor: pointer;
    background-color: var(--primary-low);
}

.item.active {
    background:var(--primary-low);
}

.drawerContainer {
    height: 100%;
}

.drawerContainer aside {
    height: 100%;
}